<link rel = "stylesheet" type = "text/css" href = "aboutus.component.css">

<body>
    <h1> Tours and Travels </h1>
    
    <h3>
        <div class = "container">
        Tours And Travels is one India's leading firms in tour and travel infrastructure services.
        With a history of nine decades of service to clients, Tour And Travels is a market leader in this field. We
        specialize in planning, coordinating, fabricating, setting-up and activating event spaces of all
        magnitudes. This includes by providing great fun and enjoyment during the trips of the clents.
        
        Expro is an ISO 9001-2010 certified organization with offices spread across major cities in India along
        with 15 intenational offices including USA, UK, Europe & Australia.And has partnership with around 160 different
        comapanies including campanies in Airline Insdustry,
        Hotels, Cabs Services & many more.
        </div>
    </h3>

    <h3 align = center>
        <div class = "container1">
        <h2><b><u><i>Our Key Achievements</i></u></b></h2>
            <p>Almost 11 years of experience in working on a wide range of tour and travel</p>
            <p>Largest tour and travel orianiser in the market with multiple options and give its cilents all kinds of experience in there trips</p>
            <p>It has largest group of partner around the world across varied sectors such as Airline and Hotels, Trains and Buses, Cabs, Homestay</p>
            <p>Experience of having successfully conducted tours for various cilents across the globe, include big celebrities</p>
            <p>Our offices are spreading across 15 countries across the globe</p>
            </div>
    </h3>

    <h1>Our Founders</h1>
    <div class = "container">
        <table align=center><br>
            <tr>
                <td>
                    <h2>Prateek Awate</h2>
                    <p>prateek.awate@mphasis.com</p><br>
                </td>
                <td>
                    <h2>Jai Gopal</h2>
                    <p>jai.karnani@mphasis.com</p><br>
                </td>
                <td>
                    <h2>Sahil Khan</h2>
                    <p>sahil.khan1@mphasis.com</p><br>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Jaydip Hate</h2>
                    <p>jaydip.hate@mphasis.com</p><br>
                </td>
                <td>
                    <h2>Barath Kumar B</h2>
                    <p>barathkumar.b@mphasis.com</p><br>
                </td>
                <td>
                    <h2>Gowtham V</h2>
                    <p>gowtham.v1@mphasis.com</p><br>
                </td>
            </tr>
        </table>
    </div>
</body>